<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h3 class="welcomeMsg">RateYourBeer is a website that allows you to post reviews about beer you have drank and share that with other users</h3>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>