<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
        <h1>Write your review</h1>
        <form method="POST" action="/review_added" >

            <div class="input-group mb-3">
                <input class="form-control" type="text" name="title" placeholder="Review Title"/>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">Description</span>
                <textarea name="desc" class="form-control" rows="4" cols="50">
                </textarea>
            </div>

            <div class="input-group mb-3" style="width: 40%;">
                <label class="input-group-text" for="chooseFileButton">Review Photo</label>
                <input type="file" class="form-control" id="chooseFileButton" name="beerImage" accept=".jpg,.png">
            </div>
            
            <progress id="uploader" value="0" max="100">0%</progress><br>
            <input type="hidden" id="imgLink" name="imgLink" value="">

            <div class="input-group mb-3" style="width: 40%;">
                <input type="text" name="reviewer" class="form-control" placeholder="Username"/>
            </div>
            
            <div class="input-group mb-3" style="width: 20%;">
                <span class="input-group-text">Out of 10</span>
                <input type="number" min="0" max="10" name="scoreOutOfTen" class="form-control"/>
            </div>
            
            <div class="input-group mb-3" style="width: 40%;">
                <input type="text" name="beerName" class="form-control" placeholder="Beer Name"/>
            </div>
            
            <div class="input-group mb-3" style="width: 40%;">
                <input type="text" name="brewer" class="form-control" placeholder="Brewer"/>
            </div>
            

            <input type="submit" id="submitBtn" value="Submit Review" class="btn btn-primary"/>
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        storageBucket: "gs://cis435-b0a01.appspot.com/"
    };
    firebase.initializeApp(config);
    //-------------------------------------

    var uploader = document.getElementById('uploader');
    var fileButton = document.getElementById('chooseFileButton');
    fileButton.addEventListener('change', function(e){
        document.getElementById('submitBtn').style.visibility = "hidden";
        var file = e.target.files[0];
        var storageRef = firebase.storage().ref('beer_photos/'+file.name);
        var task = storageRef.put(file);
        task.on('state_changed', function progress(snapshot) {
            var percentage = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
            uploader.value = percentage;

        }, function error(err) {
            document.getElementById('submitBtn').style.visibility = "visible";
        },function complete() {
            document.getElementById('submitBtn').style.visibility = "visible";

            storageRef.getDownloadURL().then(function(url) {
                document.getElementById('imgLink').value = url;
            });
        
        });
    });  
</script>