<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
        <h1>Write your comment</h1>
        <form method="POST" action="/view_beer" >

            <div class="input-group mb-3">
                <span class="input-group-text">Comment</span>
                <textarea name="content" class="form-control" rows="4" cols="50">
                </textarea>
            </div>

            <div class="input-group mb-3">
                <input type="text" name="reviewer" class="form-control" placeholder="Username"/>
            </div>
            
            <input type="hidden" name="reviewId" value="<%= typeof reviewId != 'undefined' ? reviewId : 'id' %>"/>

            <br>
            <input class="btn btn-primary" style="margin-top: 25px;" type="submit" id="submitBtn" value="Submit Comment"/>
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
