<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div>
        <h1>Thank you for your review!</h1>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<script>
    setTimeout(function(){window.location = '/beer_feed';}, 2000);
</script>