<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">User: <%= typeof comment.reviewer != 'undefined' ? comment.reviewer : 'commenter' %></h5>
        <p class="card-text"><%= typeof comment.content != 'undefined' ? comment.content : 'Content' %></p>
    </div>
    <div class="card-footer">Date: <%= typeof comment.commentDate != 'undefined' ? comment.commentDate : 'date' %></div>
</div>