<div class="comment">
    <h4>User: <%= typeof comment.reviewer != 'undefined' ? comment.reviewer : 'commenter' %></h4>
    <p><%= typeof comment.content != 'undefined' ? comment.content : 'Content' %></p>
    <h4>Date: <%= typeof comment.commentDate != 'undefined' ? comment.commentDate : 'date' %></h4>
</div>